.mob-1002 {
  width: 41px;
  height: 39px;
  background: url("/src/img/1002.gif");
  position: absolute;
}

.mob-1049 {
  width: 17px;
  height: 38px;
  background: url("/src/img/1049.gif");
  position: absolute;
  background-position: center;
}

.player {
  width: 39px;
  height: 100px;
  background: url("/src/img/HvG3ku.png");
  position: absolute;
}

.row-border {
  border: solid 2px #CCC;
}

#map-grid td {
  background-color: #FFF;
}
#map-grid td:hover {
  background-color: #CCC;
}
