.mob-1002 {
  width: 41px;
  height: 39px;
  background: url("/src/img/1002.gif");
  position: absolute;
}

.mob-1049 {
  width: 17px;
  height: 38px;
  background: url("/src/img/1049.gif");
  position: absolute;
  background-position: center;
}

.player {
  width: 39px;
  height: 100px;
  background: url("/src/img/HvG3ku.png");
  background-position: center;
  position: absolute;
}

.player.dmg {
  width: 38px;
  height: 82px;
  background: url("/src/img/dmg.png");
}

.player.dead {
  width: 69px;
  height: 64px;
  background: url("/src/img/dead.png");
}

.player meter {
  height: 7px;
  width: 75px;
  position: absolute;
  top: 94px;
  left: -20px
}

.player.dmg meter {
  top: 82px;
}

.player.dead meter {
  top: 63px;
}

.row-border {
  border: solid 2px #CCC;
}

#map-grid .tr {
  clear:both;
  height: 40px;
}

#map-grid .td {
  float:left;
  width: 40px;
  height: 40px;
  background-color: #FFF;
}

#map-grid .td:hover {
  background-color: #CCC;
}
