.mob-1002 {
  width: 41px;
  height: 39px;
  background: url("http://localhost:8080/src/img/hangerlogo.jpg");
  position: absolute;
}

.mob-1049 {
  width: 17px;
  height: 38px;
  background: url("http://placehold.it/38x39");
  position: absolute;
  background-position: center;
}

.player {
  width: 64px;
  height: 42px;
  background: url("http://localhost:8080/src/img/hangerlogo.jpg");
  background-color: rbg(0,200,0,);
  position: absolute;
  background-position: center;
}

.row-border {
  border: solid 2px #CCC;
}

#map-grid td {
  background-color: #FFF;
}
#map-grid td:hover {
  background-color: #CCC;
}
